#bg-image {
  margin: 20px auto;
  text-align: center; /* Bild zentrieren */
}

#bg-image img {
  max-width: 300px;   /* Bildgröße begrenzen */
  width: 100%;        /* responsive */
  height: auto;
  border-radius: 15px; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
